.input__field {
  margin: 10px;
  width: 280px;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(65, 63, 63, 0.2);
  border-radius: 4px;
}

.form__button {
  margin-top: 10px;
  display: block;
  background-color: rgb(14, 63, 168);
  color: white;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(78, 77, 77, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  outline: none;
}
